@model AllSecrets

<div class="bg-secondary pb-4 d-inline-block col-12">
    <div class="navbar navbar-expand-lg bg-dark text-white justify-content-between">
        <h4>Hello, @ViewBag.Name!</h4>
        <a href="/logout" class="offset-7">Log Out</a>
    </div>

    <div class="container col-12 bg-light p-3 rounded">
        <div class="mb-5">
            <form asp-action="createPost" asp-controller="Home" method="post">
                <div class="form-group mb-2">
                    <span asp-validation-for="newSecret.Post" class="text-danger m-0"></span>
                    <textarea asp-for="newSecret.Post" rows="3" class="form-control bg-light" placeholder="Your secret here..."></textarea>
                </div>
                <input asp-for="newSecret.UserId" value="@ViewBag.User" type="hidden">
                <button type="submit" class="btn btn-primary mt-0 offset-11">Post</button>
            </form>
        </div>
        <a href="/popular/secrets" class="offset-10">Most Popular Secrets</a>
        <div class="container col-12 bg-light pt-2 pb-3">
            <h4>Recent Secrets</h4>
            @{
                foreach(Secret msg in Model.allSecrets)
                {
                    <div class="container border-bottom mb-4">
                        <h6 class="ml-3 mb-0 container border p-3">@msg.Post</h6>
                        <p class="mt-0 ml-3 mb-0">posted @msg.CreatedAt.ToString("MMM dd yyyy, hh:mmtt") @msg.Likes.Count()likes</p>

                        @{
                            if(msg.Likes.Any(l => l.UserId == @ViewBag.User) == true)
                            {
                                <p class="mt-0 ml-3 mb-0 font-italic">You liked this</p>
                            }
                            else
                            {
                                <a href="/like/@msg.SecretId" class="ml-3 mb-0">Like</a>
                            }
                            if(@msg.UserId == @ViewBag.User)
                            {
                                <p class="mt-0 ml-3 font-italic">You posted this <a href="/destroy/@msg.SecretId">Delete</a></p>
                            }
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>